@model IEnumerable<gateway.Models.Coin>

@{
    ViewData["Title"] = "Bookmarks";
}

<h1>Bookmarks</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<table class="table">
    <thead>
        <tr>
            <th style="width: 250px;">Coin</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.logo" alt="@item.name logo" style="width: 30px; height: 30px; margin: 5px;">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <p style="color:grey;  margin: 5px; ">@item.symbol</p>
            </td>
            <td>
                <form asp-action="DeleteConfirmed" asp-route-id="@item.bookmarkId" >
                    <input type="submit" value="" class="BookmarkButton"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
