@model IEnumerable<gateway.Models.Coin>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Coins</h1>

<table class="table">
    <thead>
        <tr>
            <th style="width: 250px;">Coin</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.logo" alt="@item.name logo" style="width: 30px; height: 30px; margin: 5px;">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <p style="color:grey;  margin: 5px; ">@item.symbol</p>
            </td>
            <td>
                <form asp-action="Graph" asp-route-id="@item.symbol" >
                    <input type="submit" value="Popularity" class="Button"/>
                </form>   
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (@item.isBookmarked)
                    {
                        <form asp-action="DeleteBookmark" asp-route-id="@item.bookmarkId" >
                            <input type="submit" value="" class="BookmarkButton"/>
                        </form>   
                    }else{
                        <form asp-action="CreateBookmark" asp-route-id="@item.id" >
                            <input type="submit" value="" class="unBookmarkButton" />
                        </form>   
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
